@model ApiAuctionShop.Models.AuctionCreateViewModel
@{
    ViewData["Title"] = "Nowa aukcja";
}

<h2>@ViewData["Title"]</h2>
@using (Html.BeginForm("AuctionPreview", "Auction", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Aukcja</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="form-group">
                @Html.LabelFor(model => model.auction.title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.auction.title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.auction.title)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.auction.description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.auction.description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.auction.description)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.auction.startPrice, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.auction.startPrice, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.auction.startPrice)
                </div>
            </div>
            @if (Model.hasBuyNowGlobal)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.auction.buyPrice, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.auction.buyPrice, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.auction.buyPrice)
                    </div>
                </div>

            }
            <div class="form-group">
                @Html.LabelFor(model => model.auction.duration, new { @class = "control-label col-md-2" })
                @{
                    List<string> tp = Model.timePeriods.Split(',').ToList();
                }
                
                <div class="col-md-10">
                    <div class="btn-group" data-toggle="buttons">
                        
                        @foreach (string s in tp)
                        {
                            string c = "btn btn-primary";
                            if (Model.auction != null && s == Model.auction.duration)
                            {
                                c += " active";
                            }
                            <label class="@c">
                                @Html.RadioButtonFor(model => model.auction.duration, s)@s
                            </label>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.auction.editable, new { @class = "control-label col-md-2" })
                <div class="col-md-10 form-control-static">
                    @Html.CheckBoxFor(model => model.auction.editable)
                </div>
            </div>
        </div>

    </div>
    <input name="files" multiple id="fileUpload" type="file" class="file-loading" accept="image/*">

    <div class="form-group">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<button type="submit" class="btn btn-default">Send</button>*@
                <button type="submit" class="btn btn-success">Preview</button>
            </div>
        </div>
    </div>

}
<script src="~/bootstrap-fileinput-master/js/fileinput.min.js"></script>
<link href="~/bootstrap-fileinput-master/css/fileinput.min.css" rel="stylesheet" />

<script>
    $("#fileUpload").fileinput({
        showPreview: false,
        showUpload: false,
        maxFileCount: 4,
        allowedFileExtensions: ["jpg", "png", "gif"]
    });
</script>