@model List<List<AuctionViewModel>>
@{
    ViewData["Title"] = "Moje aukcje";
}
<br />
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#myAuctionsList">Moje aukcje</a></li>
    <li><a data-toggle="tab" href="#activeAuctions">Aukcje w toku</a></li>
    <li><a data-toggle="tab" href="#archiveAuctions">Archiwum</a></li>
    <li><a data-toggle="tab" href="#watchedAuctions">Obserwowane</a></li>
</ul>
<div class="tab-content">
    <div id="myAuctionsList" class="tab-pane fade in active">
        <h3>Moje aukcje</h3>
        <br />
        @if (Model[0].Count > 0)
        {
            <table id="myAuctions" class="table table-striped grid-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <td>Tytuł</td>
                        <td>Aktualna cena</td>
                        <td>Data zakończenia</td>
                        <td>Ilość ofert</td>
                        <td>Stan</td>
                        <td></td>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>Tytuł</td>
                        <td>Aktualna cena</td>
                        <td>Data zakończenia</td>
                        <td>Ilość ofert</td>
                        <td>Stan</td>
                        <td></td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model[0].Select((value, i) => new { i = ++i, value }))
                    {
                        <tr>
                            <td class="auctionTitle">
                            
                                <div class="row auctionTitleRow">
                                    <div class="col-md-3">
                                        @if (item.value.ImageData != null)
                                        {
                                            // sparsowanie ścieżki
                                            string path = item.value.ImageData;
                                            int index = path.IndexOf(@"\images");
                                            path = path.Substring(index);
                                            <img class="miniatureAuctionList img-thumbnail img-responsive center-block" src="@String.Format(path)" />
                                        }
                                        else
                                        {
                                            <img class="miniatureAuctionList img-thumbnail img-responsive center-block" src="@Url.Content("~/images/noimage.png")" />

                                        }
                                    </div>
                                    <div class="col-md-9 auctionTitleAuthor">
                                        <b class="auctionTitle">
                                            @Html.ActionLink(item.value.title, "AuctionPage", "Auction", new { id = item.value.ID }, null)

                                        </b>
                                        <div class="auctionAuthor"></div>
                                    </div>
                                </div>
                            </td>
                            <td class="auctionPrice">
                                @if (item.value.highestBid != 0)
                                {
                                    @item.value.highestBid.ToString("C");
                    }
                    else
                    {
                                    @item.value.startPrice.ToString("C");
                    }

                            </td>
                            <td>
                                @item.value.endDate
                            <div class="timeLeft">

                                @if (item.value.timeLeft.howManyLeft < 0)
                                {
                                    @:(Aukcja zakończona)

                                }
                                else
                                {
                                    @:(@item.value.timeLeft.howManyLeft @item.value.timeLeft.timeMeasure do końca)
                                }
                            </div>
                        </td>
                        <td>
                            @if (item.value.bidCount != 0)
                    {
                                @item.value.bidCount
                            }
                            else
                            {
                                @: -
                    }
                        </td>
                        <td>
                            <div title="State:  @item.value.state "><img src="@Url.Content("~/images/auction_"+ @item.value.state + ".png")" /></div>

                        </td>
                        <td>
                            @if ((@item.value.state == "active" && @item.value.editable == true) || @item.value.state == "waiting")
                            {

                                <input type="button" class="btn btn-xs btn-default" value="Edytuj" onclick="@("window.location.href='" + @Url.Action("Edit", "Auction", new { id = item.value.ID }) + "'");" />

                                <input type="button" class="btn btn-xs btn-default" value="Zakończ" onclick="@("window.location.href='" + @Url.Action("End", "Auction", new { id = item.value.ID }) + "'");" />
                            }
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            @: Nie masz jeszcze żadnych aukcji.

        }
    </div>
    <div id="activeAuctions" class="tab-pane fade">
        <div id="AllAuctionsTitle">
            <h3>Wszystkie aukcje</h3>
        </div>
        <br />
        @if (Model[1].Count > 0)
        {
            <table id="allAuctions" class="table table-striped grid-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <td>Tytuł</td>
                        <td>Aktualna cena</td>
                        <td>Data zakończenia</td>
                        <td>Ilość ofert</td>
                        <td>Obserwuj</td>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>Tytuł</td>
                        <td>Aktualna cena</td>
                        <td>Data zakończenia</td>
                        <td>Ilość ofert</td>
                        <td>Obserwuj</td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model[1].Select((value, i) => new { i = ++i, value }))
                    {
                        <tr>
                            <td>
                                <div class="row auctionTitleRow">
                                    <div class="col-md-3">
                                        @if (item.value.ImageData != null)
                                        {
                                            // sparsowanie ścieżki
                                            string path = item.value.ImageData;
                                            int index = path.IndexOf(@"\images");
                                            path = path.Substring(index);
                                            <img class="miniatureAuctionList img-thumbnail img-responsive center-block" src="@String.Format(path)" />
                                            @*<img class="miniatureAuctionList img-thumbnail img-responsive center-block" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.value.ImageData))" />*@
                                        }
                                        else
                                        {
                                            <img class="miniatureAuctionList img-thumbnail img-responsive center-block" src="@Url.Content("~/images/noimage.png")" />

                                        }
                                    </div>
                                    <div class="col-md-9 auctionTitleAuthor">
                                        <b class="auctionTitle">
                                            @Html.ActionLink(item.value.title, "AuctionPage", "Auction", new { id = item.value.ID }, null)

                                        </b>
                                        <div class="auctionAuthor">(Autor: @item.value.Signup.Email)</div>
                                    </div>
                                </div>
                            </td>
                            <td class="auctionPrice">
                                @if (item.value.highestBid != 0)
                                {
                                    @item.value.highestBid.ToString("C");
                                }
                                else
                                {
                                    @item.value.startPrice.ToString("C");
                                }

                            </td>
                            <td>
                                @item.value.endDate
                                <div class="timeLeft">

                                    @if (item.value.timeLeft.howManyLeft < 0)
                                    {
                                        @:(Aukcja zakończona)

                                    }
                                    else
                                    {
                                        @:(@item.value.timeLeft.howManyLeft @item.value.timeLeft.timeMeasure do końca)
                            }
                                </div>
                            </td>
                            <td>
                                @if (item.value.bidCount != 0)
                                {
                                    @item.value.bidCount
                                }
                                else
                                {
                                    @: -
                            }
                            </td>
                            <td>
                                <a style="cursor: pointer;">
                                    @if (item.value.isWatched)
                                    {
                                        <img onclick="toggleAuctionWatch(this.id, @item.value.ID)" id="star-@item.i" class="star-active" src="~/images/star-active.png" title="Obserwuj" />
                                    }
                                    else
                                    {
                                        <img onclick="toggleAuctionWatch(this.id, @item.value.ID)" id="star-@item.i" class="star-inactive" src="~/images/star-inactive.png" title="Obserwuj" />
                                    }
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            @: Brak aktywnych aukcji.

        }
    </div>
    <div id="archiveAuctions" class="tab-pane fade">
        <h3>Archiwum aukcji</h3>
        <br />
        @if (Model[2].Count > 0)
        {
            <table id="archievedAuctions" class="table table-striped grid-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <td>Tytuł</td>
                        <td>Cena końcowa</td>
                        <td>Data zakończenia</td>
                        <td>Ilość ofert</td>
                        <td>Zwycięzca</td>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>Tytuł</td>
                        <td>Cena końcowa</td>
                        <td>Data zakończenia</td>
                        <td>Ilość ofert</td>
                        <td>Zwycięzca</td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model[2].Select((value, i) => new { i = ++i, value }))
                    {
                        <tr>
                            <td>
                                <div class="row auctionTitleRow">
                                    <div class="col-md-3">
                                        @if (item.value.ImageData != null)
                                        {
                                            // sparsowanie ścieżki
                                            string path = item.value.ImageData;
                                            int index = path.IndexOf(@"\images");
                                            path = path.Substring(index);
                                            <img class="miniatureAuctionList img-thumbnail img-responsive center-block" src="@String.Format(path)" />
                                            @*<img class="miniatureAuctionList img-thumbnail img-responsive center-block" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.value.ImageData))" />*@
                                        }
                                        else
                                        {
                                            <img class="miniatureAuctionList img-thumbnail img-responsive center-block" src="@Url.Content("~/images/noimage.png")" />

                                        }
                                    </div>
                                    <div class="col-md-9 auctionTitleAuthor">
                                        <b class="auctionTitle">
                                            @Html.ActionLink(item.value.title, "AuctionPage", "Auction", new { id = item.value.ID }, null)

                                        </b>
                                        <div class="auctionAuthor">(Autor: @item.value.Signup.Email)</div>
                                    </div>
                                </div>
                            </td>
                            <td class="auctionPrice">
                                @if (item.value.highestBid != 0)
                                {
                                    @item.value.highestBid.ToString("C");
                                }
                                else
                                {
                                    @item.value.startPrice.ToString("C");
                                }       
                            </td>
                            <td>
                                @item.value.endDate

                            </td>
                            <td>
                                @if (item.value.bidCount != 0)
                    {
                                    @item.value.bidCount
                                }
                                else
                                {
                                    @: -
                    }
                            </td>
                            <td>
                                @if (@item.value.winner != null)
                                {

                                    @item.value.winner.Email

                                }
                                else
                                {
                                    @: Brak ofert.

                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            @: Archiwum jest puste.

        }
    </div>
    <div id="watchedAuctions" class="tab-pane fade"></div>
</div>
<br /><br />
<div id="myalert" class="">
</div>

<link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/css/custom.css">
<script type="text/javascript" language="javascript" src="~/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myAuctions').DataTable({
            "order": [[2, "asc"]]
        });
    });
    $(document).ready(function () {
        $('#allAuctions').DataTable({
            "order": [[2, "asc"]]
        });
    });
    $(document).ready(function () {
        $('#archievedAuctions').DataTable({
            "order": [[2, "asc"]]
        });
    });
    //$(document).ready(function () {
    //    $('#watchedAuctions').DataTable({
    //        "order": [[2, "asc"]]
    //    });
    //});

    function toggleAuctionWatch(id, idAuction) {
        var target = document.getElementById(id);
        if (target.src == location.origin + "/images/star-inactive.png") {
            $('#' + target.id).attr("src", "../../images/star-active.png");
            $('#' + target.id).addClass('star-active');
            $('#' + target.id).removeClass('star-inactive');
            var AuctionsUsersWatching = {
                AuctionId: idAuction,
                UserId: ''
            };
            $.ajax({
                url: '/api/APIAuctionsUsersWatchings',
                type: 'POST',
                data: JSON.stringify(AuctionsUsersWatching),
                dataType: "json",
                contentType: 'application/json',
                statusCode: {
                    201: handle201,
                    401: handle401,
                    409: handle409
                }
            });

        }
        else {
            $('#' + target.id).attr("src", "../../images/star-inactive.png");
            $('#' + target.id).addClass('star-inactive');
            $('#' + target.id).removeClass('star-active');
            $.ajax({
                url: '/api/APIAuctionsUsersWatchings/' + idAuction,
                type: 'DELETE',
                dataType: "json",
                contentType: 'application/json',
                statusCode: {
                    200: handle200,
                    401: handle401,
                    409: handle409
                }
            });
            
        }

    }
    var handle200 = function (data, textStatus, jqXHR) {
        $('#myalert').append("<div class='alert alert-warning sticky-alert'> <a class='close' data-dismiss='alert' href='#'>×</a> Usunięto aukcję z obserwowanych. </div>");
        $('#myalert').children('.alert-warning').click(function () {
            $(this).remove();
        });
        $("#myalert").children('.alert-warning').delay(4000).fadeOut(500, function () {
            $(this).remove();
        });
    };
    var handle401 = function (data, textStatus, jqXHR) {
        $('#myalert').append("<div class='alert alert-danger sticky-alert'> <a class='close' data-dismiss='alert' href='#'>×</a> Nie posiadasz uprawnień do obserwowania aukcji. </div>");
        $('#myalert').children('.alert-danger').click(function () {
            $(this).remove();
        });
        $("#myalert").children('.alert-danger').delay(4000).fadeOut(500, function () {
            $(this).remove();
        });
    };
    var handle201 = function (data, textStatus, jqXHR) {
        $('#myalert').append("<div class='alert alert-success sticky-alert'> <a class='close' data-dismiss='alert' href='#'>×</a> Dodano aukcję do obserwowanych. </div>");
        $('#myalert').children('.alert-success').click(function () {
            $(this).remove();
        });
        $("#myalert").children('.alert-success').delay(4000).fadeOut(500, function () {
            $(this).remove();
        });
    };
    var handle409 = function (data, textStatus, jqXHR) {
        $('#myalert').append("<div class='alert alert-danger sticky-alert'> <a class='close' data-dismiss='alert' href='#'>×</a> Błąd bazy danych. </div>");
        $('#myalert').children('.alert-danger').click(function () {
            $(this).remove();
        });
        $("#myalert").children('.alert-danger').delay(4000).fadeOut(500, function () {
            $(this).remove();
        });
        //console.log(jqXHR);
    };
   
</script>
