@model Auctions
@using Projekt.Controllers;
@{
    ViewData["Title"] = "Aukcja";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dd>

            <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.ImageData))" />
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        @if(Model.bids.Count == 0) { 
            <dt>
                @Html.DisplayNameFor(model => model.startPrice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.startPrice)
            </dd>
        }
        else
        {
            <dt>
                Aktualna cena: 
            </dt>
            <dd>
                @Html.DisplayFor(model => model.bids[0].bid)
            </dd>

        }

    </dl>

    <h2>Licytacja</h2>
    
    

    @using (Html.BeginForm("AddBid", "Auction", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Aukcja</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.title)
            @Html.HiddenFor(model => model.title)
            @Html.HiddenFor(model => model.description)
            @Html.HiddenFor(model => model.endDate)
            @Html.HiddenFor(model => model.buyPrice)
            @Html.HiddenFor(model => model.ImageData)
            @Html.HiddenFor(model => model.startDate)
            @Html.HiddenFor(model => model.bids)
            <div class="form-group">
                @Html.LabelFor(model => model.bid, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.bid)
                    @Html.ValidationMessageFor(model => model.bid)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    @foreach (var item in Model.bids)
    {
        <div>LA
            @item.bid...
            <hr />
        </div>
    }
</div>

