@model BiddingViewModel
@using Projekt.Controllers;
@{
    ViewData["Title"] = "Aukcja";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.auctionToSend.title)
        </dt>
        <dd>
            <h4>
                @Html.DisplayFor(model => model.auctionToSend.title)
            </h4>
        </dd>
        <dd>
            @if (Model.auctionToSend.ImageData != null)
            {
            <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.auctionToSend.ImageData))" />
            }else
            {
                @: Brak zdjecia.

            }
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.auctionToSend.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.auctionToSend.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.auctionToSend.startDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.auctionToSend.startDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.auctionToSend.endDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.auctionToSend.endDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.auctionToSend.startPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.auctionToSend.startPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.auctionToSend.buyPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.auctionToSend.buyPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.auctionToSend.state)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.auctionToSend.state)
        </dd>
       
    </dl>
    @if (Model.auctionToSend.state == "active")
    {
        <h2>Licytacja</h2>

        @using (Html.BeginForm("CreateBid", "Auction", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.auctionToSend.ID)
            @Html.EditorFor(model => model.bid, new { @Value = "" })
            <input type="submit" value="Licytuj!" />

        }

        @using (Html.BeginForm("BuyNow", "Auction", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.auctionToSend.ID)
            <input type="submit" value="Kup teraz za @Model.auctionToSend.buyPrice.ToString("C")!" />

        }
    }
    
    @if (Model.bids.Count > 0)
    {
        <h2>Oferty kupna</h2>
        <br />
        <table style="width:100%">
            <tr>
                <th>Lp.</th>
                <th>Uzytkownik</th>
                <th>Cena</th>
                <th>Data</th>
            </tr>
            @foreach (var b in Model.bids.Select((value, i) => new { i = ++i, value }))
            {
                <tr>
                    <td>@b.i.</td>
                    <td>@b.value.bidAuthor</td>
                    <td>@b.value.bid.ToString("C")</td>
                    <td>@b.value.bidDate.ToString()</td>
                </tr>

            }
        </table>
    }
    else
    {
        @if (Model.auctionToSend.state == "active")
        {
            <h4>No bids yet!</h4>
        }
        else if (Model.auctionToSend.state == "waiting")
        {

            <h4>The auction hasn't started yet. </h4>
        }

    }
</div>

