@model List<List<AuctionViewModel>>
@{
    ViewData["Title"] = "Moje aukcje";
}


@if (Model[0].Count > 0)
{
    <h2>Moje aukcje</h2>
    <table class="table table-striped grid-table">
        <tr>
            <td>Lp.</td>
            <td>Tytuł</td>
            <td>Data rozpoczęcia</td>
            <td>Data zakończenia</td>
            <td>Aktualna cena</td>
            <td>Ilość ofert</td>
            <td>Stan</td>
            <td></td>
        </tr>

        @foreach (var item in Model[0].Select((value, i) => new { i = ++i, value }))
        {
            <tr>
                <td>@item.i.</td>
                <td>
                @Html.ActionLink(item.value.title, "AuctionPage", "Auction", new { id = item.value.ID }, null)
                 </td>
                <td>@item.value.startDate</td>
                <td>@item.value.endDate</td>
                <td>
                    @if(item.value.highestBid != 0)
                    {
                        @item.value.highestBid.ToString("C");
                    }
                    else
                    {
                        @item.value.startPrice.ToString("C");
                    }

                </td>
                <td>
                    @if (item.value.bidCount != 0)
                    {
                        @item.value.bidCount
                    }
                    else
                    {
                        @: -
                    }
                </td>
                <td>@item.value.state</td>
                <td>
                    @if ((@item.value.state == "active" && @item.value.editable == true )|| @item.value.state == "waiting")
                    {
                    <input type="button" value="Edytuj" onclick="@("window.location.href='" + @Url.Action("Edit", "Auction", new { id = item.value.ID }) + "'");" />

                    <input type="button" value="Zakończ" onclick="@("window.location.href='" + @Url.Action("End", "Auction", new { id = item.value.ID }) + "'");" /> }
                    else
                    {
                        @: -

                    }
                </td>
            </tr>
        }
    </table>
}

@if (Model[1].Count > 0)
{
    <h2>Wszystkie aukcje</h2>
    <table class="table table-striped grid-table">
        <tr>
            <td>Lp.</td>
            <td>Tytuł</td>
            <td>Data rozpoczęcia</td>
            <td>Data zakończenia</td>
            <td>Aktualna cena</td>
            <td>Ilość ofert</td>
            <td>Stan</td>
            <td>Autor</td>
        </tr>

        @foreach (var item in Model[1].Select((value, i) => new { i = ++i, value }))
        {
            <tr>
                <td>@item.i.</td>
                <td>
                    @Html.ActionLink(item.value.title, "AuctionPage", "Auction", new { id = item.value.ID }, null)
                </td>
                <td>@item.value.startDate</td>
                <td>@item.value.endDate</td>
                <td>
                    @if (item.value.highestBid != 0)
                    {
                        @item.value.highestBid.ToString("C");
                    }
                    else
                    {
                        @item.value.startPrice.ToString("C");
                    }

                </td>
                <td>
                    @if (item.value.bidCount != 0)
                    {
                        @item.value.bidCount
                    }
                    else
                    {
                        @: -
                    }
                </td>
                <td>@item.value.state</td>
                <td>@item.value.Signup</td>
            </tr>
        }
    </table>
}
