@model List<ApiAuctionShop.Models.Auctions>
@{
    ViewData["Title"] = "Moje aukcje";
}

<h2>@ViewData["Title"]</h2>

@if (Model.Count > 0)
{
    <table class="table table-striped grid-table">
        <tr>
            <td>Lp.</td>
            <td>Tytuł</td>
            <td>Autor</td>
            <td>Data zakończenia</td>
            <td>Aktualna cena</td>
        </tr>

        @foreach (var item in Model.Select((value, i) => new { i = ++i, value }))
        {
            <tr>
                <td>@item.i.</td>
                <td>
                @Html.ActionLink(item.value.title, "AuctionPage", "Auction", new {id = item.value.ID}, null) </td>
                <td>@item.value.Signup</td>
                <td>@item.value.duration</td>
                <td>@item.value.price</td>
            </tr>
        }
    </table>
}

