<!-- left, vertical navbar -->
@using ApiAuctionShop.Helpers
@using Microsoft.AspNet.Mvc.Localization
@inject IViewLocalizer Loc

@section scripts{
<script type="text/javascript" src="~/js/twitter-bootstrap-hover-dropdown.js"></script>
<script type="text/javascript" src="~/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="~/js/modernizr-2.6.2.js"></script>
<script type="text/javascript" src="~/js/bootstrap.js"></script>

}

@model AdminMenuModel

<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <li><a asp-controller="AdminPanel" asp-action="AdminPanel"><i class="glyphicon glyphicon-chevron-right"></i>@Loc["AboutProject"]</a></li>
        <li><a asp-controller="AdminPanel" asp-action="Auctions"><i class="glyphicon glyphicon-chevron-right"></i>@Loc["Auctions"]</a></li>
        <li><a asp-controller="AdminPanel" asp-action="Users"><i class="glyphicon glyphicon-chevron-right"></i>@Loc["Users"]</a></li>
        <li><a asp-controller="AdminPanel" asp-action="Statistics"><i class="glyphicon glyphicon-chevron-right"></i>@Loc["Statistics"]</a></li>
        <li><a asp-controller="AdminPanel" asp-action="Settings"><i class="glyphicon glyphicon-chevron-right"></i>@Loc["SiteSettings"]</a></li>
        <li>
            <a>@Loc["Numbers"]:<span class="badge pull-right"></span></a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">@Model.auctionsCount</span> @Loc["Auctions"]</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">@Model.activeAuctionCount</span> @Loc["ActiveAuctions"]</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">@Model.userCount</span> @Loc["Users"]</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">@Model.bidsCount</span> @Loc["Bids"]</a>
        </li>
        <li>
            <a href="#"><span class="badge pull-right">@Model.auctionsWon</span> @Loc["SoldItems"]</a>
        </li>
    </ul>
</div>

