@using System.Security.Claims
@using Microsoft.AspNet.Mvc.Localization
@inject IViewLocalizer Loc
@if (User.IsSignedIn())
{
    
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">@Loc["Hello"], @User.GetUserName()!</a>
            </li>


            @if(User.IsInRole("Admin")) { 
            <li>
                <a href="@Url.Action("AdminPanel", "AdminPanel")">@Loc["AdminPanel"]</a>
            </li>
            }
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@Loc["LogOff"]</button>
            </li>
           
            <li>
                <div>
                    @if (ViewContext.RouteData.Values["language"].ToString() == "pl-PL") {
                        <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "pl-PL", id = ViewContext.RouteData.Values["id"] }, null)">
                            <img src="~/images/pl.ico" height="30" />
                        </a>
                        <a class="lang-inactive" href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "en-GB", id = ViewContext.RouteData.Values["id"] }, null)">
                            <img src="~/images/en.ico" height="30" />
                        </a>
                    }
                    else
                    {
                        <a class="lang-inactive" href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "pl-PL" , id = ViewContext.RouteData.Values["id"]}, null)">
                            <img src="~/images/pl.ico" height="30" />
                        </a>
                        <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "en-GB", id = ViewContext.RouteData.Values["id"] }, null)">
                            <img src="~/images/en.ico" height="30" />
                        </a>

                    }
                </div>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
        <li>
            <div>
                @if (ViewContext.RouteData.Values["language"].ToString() == "pl-PL")
                {
                    <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "pl-PL", id = ViewContext.RouteData.Values["id"] }, null)">
                        <img src="~/images/pl.ico" height="30" />
                    </a>
                        <a class="lang-inactive" href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "en-GB", id = ViewContext.RouteData.Values["id"] }, null)">
                            <img src="~/images/en.ico" height="30" />
                        </a>
                }
                else
                {
                    <a class="lang-inactive" href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "pl-PL" , id = ViewContext.RouteData.Values["id"]}, null)">
                        <img src="~/images/pl.ico" height="30" />
                    </a>
                        <a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "en-GB", id = ViewContext.RouteData.Values["id"] }, null)">
                            <img src="~/images/en.ico" height="30" />
                        </a>

                }
            </div>
        </li>
    </ul>
}
